<page-header title="Reset Password" showBack></page-header>

<form (validateAndSubmit)="resetPasswordSubmit($event)" [formGroup]="resetPasswordForm">
    <div class="card">
        <div class="card__body">
            <div class="row">
                <div class="col-md-5">
                    <nd-form-field>
                        <label ndLabel>New Password for @<strong>{{userName}}</strong></label>
                        <input type="password" ndInput formControlName="password" placeholder="New Password"
                            name="New password" *togglePassword />
                        <nd-message></nd-message>
                    </nd-form-field>
                    <nd-form-field>
                        <label ndLabel>Confirm Password</label>
                        <input type="password" ndInput formControlName="confirmPassword" placeholder="Confirm Password"
                            name="Confirmed Password" *togglePassword />
                        <nd-message></nd-message>
                    </nd-form-field>
                </div>
                <div class="col-md-7" *ngIf="passwordPolicy">
                    <div class="notice notice--secondary">
                        <h2 class="notice__title">
                            <span icon="info-outline" class="notice__icon"></span>
                            <strong>Choose a strong password by following these rules:</strong>
                        </h2>
                        <ol class="notice__list">
                            <li *ngFor="let policy of passwordPolicy">{{policy}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-group">
            <div class="button-group__body">
                <button type="submit" ndButton="primary" [loader]="!!pendingRequest" class="button-group__button">
                    <nd-button-loader>Processing</nd-button-loader>Reset
                </button>
                <button type="button" ndButton="outline" class="button-group__button" [routerLink]="routeToUser">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>