.campaign {
    &__search-button {
        margin-right: 12px;
    }

    &__icon {
        margin-right: 6px;
    }

    &__search {
        margin-bottom: 24px;
    }

    &__auto-generate {
        background: transparent;
        border: none;
        padding: 0;

        color: color-get(text-dark, 300);
        margin-right: 5px;

        &:active{
            border: none;
        }
    }
}