$progress: (
    size: (
        height: 15px
    ),
    radius: 2px,
    bg-color: color-get(border, 200),

    bar: (
        size: (
            height: 100%,
        ),
        bg-color: color-get(warn),
        shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15),
        color: color-get(text-light)
    )
);

.progress {
    overflow: hidden;

    @include common-properties($progress);

    &__bar {
        $bar: map-get($progress, bar);

        @include common-properties($bar);
	    @include font-get(text-sm);

        &--error {
            background-color: color-get(error);
        }

        &--success {
            background-color: color-get(primary, 500);
        }
    }
}