.toggle-password {
    position: relative;
    display: block;
    flex-grow: 1;

    &__button {
        position: absolute;
        top: 0;
        right: var(--toggle-password--right, 12px);
        bottom: 0;
        background-color: transparent;
        border: none;
        padding: 0;
        color: color-get(text-dark, 400);
    }
}