.user {
    display: flex;

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        margin-right: 12px;
        border-radius: 50%;
        background-color: rgba(color-get(text-dark, 100), .2);
        fill: color-get(text-dark, 100);
    }

    &__title {
        color: color-get(primary);
        text-transform: capitalize;
    }

    &__description {
        color: color-get(text-dark, 100);
    }
}