
<page-header title="Contact Detail" showBack *ngIf="!isLoading"></page-header>

<page-loader [showLoader]="isLoading"></page-loader>

<main class="two-column-grid" *ngIf="contactDetail">
    <div class="two-column-grid__secondary">
        <div class="card">
            <header class="profile__icon-box-wrapper">
                <div class="icon-box profile__icon-box">
                    <img 
                        [src]="appConstants.ASSETS.BRAND_SM" 
                        [alt]="appConstants.APP_NAME" 
                        class="icon-box__icon profile__brand-sm">
                </div>
            </header>
            <section class="card__body profile__user-contactDetail">
                <h3 class="profile__heading">{{contactDetail?.firstName}} {{contactDetail?.lastName}}</h3>
                <p class="profile__sub-heading">{{contactDetail?.lastName}}</p>
                <ul class="profile__list">
                    <li class="profile__item">
                        <p class="profile__element">
                            <span icon="mobile-outline" size="20" class="profile__icon"></span>
                           {{contactDetail?.mobileNumber}}
                        </p>
                        <p class="profile__element">
                            <span icon="calendar-normal-outline" size="20" class="profile__icon"></span>
                           {{contactDetail?.dateOfBirth}}
                        </p>
                    </li>
                    <li class="profile__item">
                        <p class="profile__element">
                            <span icon="envelope-outline" size="20" class="profile__icon"></span>
                           {{ contactDetail?.email}}
                        </p>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</main>