$campaign-manager-colors: (

    default: (
        100: #f6f6f6,
        200: #babbc4,
        300: #9798a7,
        400: #757689,
        500: #52546c,
        600: #424356,
        700: #313241,
        800: #21222b,
        900: #101116,
    ),

    primary: (
        100: #f0f5ff,
        200: #b3ccf5,
        300: #6699eb,
        400: #3377e4,
        500: #0055dd,
        600: #0044b1,
        700: #003385,
        800: #002258,
        900: #00112c,
    ),

    secondary: (
        100: #fef1d2,
        200: #fee3a4,
        300: #fdd677,
        400: #fdc849,
        500: #fcba1c,
        600: #ca9516,
        700: #977011,
        800: #644a0b,
        900: #322506,
    ),

    tertiary: (
        100: #e6f4cc,
        200: #cce99a,
        300: #b3df67,
        400: #99d435,
        500: #80c902,
        600: #66a102,
        700: #4d7901,
        800: #335001,
        900: #1a2800,
    ),

    supplementary: (
        500: #f6f7fb
    ),

    text-dark: (
        100: #eaeaec,
        200: #aaacb1,
        300: #7f828b,
        400: #555964,
        500: #2a2f3d,
    ),

    text-light: (
        100: rgba(255, 255, 255, 0.2),
        200: rgba(255, 255, 255, 0.4),
        300: rgba(255, 255, 255, 0.6),
        400: rgba(255, 255, 255, 0.8),
        500: #ffffff,
    ),

    border: (
        100: #fafafa,
        200: #dbdcdf,
        300: #c8cad0,
        400: #b6b9c0,
        500: #a4a7b0,
        600: #62646a,
    ),

    success: (
        100: #f2fff7,
        200: #a6d5ba,
        300: #7ac098,
        400: #4dab75,
        500: #219653,
        600: #1a7842,
        700: #145a32,
        800: #0d3c21,
        900: #071e11,
    ),

    warn: (
        100: #fffcf5,
        200: #fadea1,
        300: #f8cd71,
        400: #f5bd42,
        500: #f3ac13,
        600: #c28a0f,
        700: #92670b,
        800: #614508,
        900: #312204,
    ),

    error: (
        100: #fff6f6,
        200: #f9b3b7,
        300: #f58e94,
        400: #f26870,
        500: #ef424c,
        600: #bf353d,
        700: #8f282e,
        800: #601a1e,
        900: #300d0f,
    ),

    info: (
        100: #f5f8ff,
        200: #a9bdee,
        300: #7e9de5,
        400: #537cdd,
        500: #285bd4,
        600: #2049aa,
        700: #18377f,
        800: #102455,
        900: #08122a,
    ),
    
    palette: (
        normal: (
            0: #248bcc,
            1: #1d6fa3,
            2: #008996,
            3: #006e78,
            4: #e8a64e,
            5: #ba853e,
            6: #ca6641,
            7: #a25234,
            8: #39a78e,
            9: #2e8672,
            10: #6a5287,
            11: #55426c,
            12: #a39a61,
            13: #827b4e,
            14: #2138ab,
            15: #1a2d89,
            16: #71bc78,
            17: #5a9660,
            18: #ffab0f,
            19: #cc890c,
            20: #547497,
            21: #435d79,
            22: #ca3435,
            23: #a22a2a,
            24: #55aa00,
            25: #448800,
            26: #ce2027,
            27: #a51a1f
        ),
    )
);

@function color-get($name: primary, $shade: 500) {
    $set: map-get($campaign-manager-colors, $name);
    
    @if not $shade {
        $shade: 500;
    }
        
    // @if not $set {
    //     @error 'Name not found in colors';
    // }

    @return map-get($set, $shade);
}

@function palette-color-get($index: 0) {
    $set: map-get($campaign-manager-colors, palette);
    $set2: map-get($set, normal );

    @return map-get($set2, $index);
}